* {box-sizing: border-box;}

.bg-highlight { background-color: #F2D694;}
.bg-highlight2 { background-color: #F0D8A8;}
.bg-information { background-color: #3D1C00;}
.bg-success { background-color: #86B8B1;}
.bg-warn { background-color: #FA2A00;}

body{
	display: flex;
	flex-wrap: wrap;
}
header{
	width:100%;
}
body > section{
	padding:2%
}
#chart { flex: 3; }
#editor { flex: 2; }
#help { flex: 1; }

body, textarea{
	font: 100 16px/1.3em "Segoe UI", Optima, sans-serif;
}
h1,h2,h3,h4,h5,h6{font-weight: 100;}

textarea{
	width:96%;
	min-height: 94%;
	border:0;
	background: none;
}
	textarea:focus{outline:none;}
